#app {
  display: grid;
  grid-template-rows: auto minmax(83vh, auto) auto;
  grid-template-areas: "header" "content" "footer";
}
#header {
  grid-area: header;
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-areas: "logo heading";
}
#header .logo {
  grid-area: logo;
}
#header .heading {
  grid-area: heading;
}
#content {
  grid-area: content;
  display: grid;
  grid-template-rows: 70px auto;
  grid-template-areas: "tabsection" "navcontent";
}
#content .tabsection {
  grid-area: tabsection;
  display: grid;
  grid-template-columns: 1fr 8fr;
}
#content .tabs {
  display: grid;
  grid-template-columns: 10fr 4fr;
  place-content: end;
}
#content .nav-content-section {
  grid-area: navcontent;
  display: grid;
  grid-template-columns: 1fr 8fr;
  grid-template-areas: "sidecontainer viewcontainer";
}
#content .nav-content-section #side-container {
  grid-area: sidecontainer;
  display: grid;
}
#content .nav-content-section #view-container {
  grid-area: viewcontainer;
}
#footer {
  grid-area: footer;
}
