@nbfcolor: #303030;
@bgcolor: #ffffff;
@incolor: #B5B5B5;
@redcolor: #e33;
@primarycolor: #031d44;
@infocolor: #9AD1D4;
@successcolor: #0d5d56;
@warningcolor: #FFD275;
@pagebgcolor: #E5E5E5;
@sidebgcolor: #FAFAFA;
@headingfont: 'Kanit', sans-serif;
@contentfont: 'Exo', sans-serif;
@btntextcolor: #eee;
@bordercolor: #dee2e6;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  background-color: @pagebgcolor;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: @headingfont;
  font-weight: 600;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none !important;  
}

body {
  font-family: @contentfont;
  color: @nbfcolor;
  font-size: 1.1rem;
}

#content {
  #side-container {
    background-color: @sidebgcolor;

    .nav-active {
      color: @redcolor;

      i {
        color: @redcolor;
      }
    }
  }

  .tabsection {
    background-color: @sidebgcolor;
    border-top: thin solid @bordercolor;

  }

  .tabicon {
    border-bottom: thin solid @bordercolor;
    align-self: flex-end;
  }
}

#view-container {
  border-left: thin solid @bordercolor;
  padding: 1rem;
}

#footer {
  border-top: thin solid @bordercolor;
  background-color: @nbfcolor;
  color: @incolor;
}

/*Custom Class*/

.bshadow {
  -webkit-box-shadow: 22px 21px 51px -34px rgba(48, 48, 48, 1);
  -moz-box-shadow: 22px 21px 51px -34px rgba(48, 48, 48, 1);
  box-shadow: 22px 21px 51px -34px rgba(48, 48, 48, 1);
}

/***  Custom Text Colors  ***/
.primary {
  color: @primarycolor;
}

.secondary {
  color: @incolor;
}

.success {
  color: @successcolor;
}

.danger {
  color: @redcolor;
}

.warning {
  color: @warningcolor;
}

.info {
  color: @infocolor;
}

.light {
  color: @incolor;
}

.dark {
  color: @nbfcolor;
}

/***  Custom Buttton Color  ***/
.btn {
  font-weight: 600;
  font-size: 1.1rem;
}

.btn-primary {
  color: #fff;
  background-color: @primarycolor;
  border-color: @primarycolor;
}

.btn-secondary {
  color: #fff;
  background-color: @incolor;
  border-color: @incolor;
}

.btn-success {
  color: #fff;
  background-color: @successcolor;
  border-color: @successcolor;
}

.btn-danger {
  color: #fff;
  background-color: @redcolor;
  border-color: @redcolor;
}

.btn-warning {
  color: @nbfcolor;
  background-color: @warningcolor;
  border-color: @warningcolor;
}

.btn-info {
  color: @nbfcolor;
  background-color: @infocolor;
  border-color: @infocolor;
}

.btn-light {
  color: @nbfcolor;
  background-color: @incolor;
  border-color: @incolor;
}

.btn-dark {
  color: #fff;
  background-color: @nbfcolor;
  border-color: @nbfcolor;
}

.btn-link {
  font-weight: 400;
  color: @primarycolor;
  text-decoration: none;
}


/***  Custom Background Color  ***/

.bg-primary {
  background-color: @primarycolor;

}

.bg-secondary {
  background-color: @incolor;
}

.bg-success {
  background-color: @successcolor;
}

.bg-danger {
  background-color: @redcolor;
}

.bg-warning {
  background-color: @warningcolor;
}

.bg-info {
  background-color: @infocolor;
}

.bg-light {
  background-color: @incolor;
}

.bg-dark {
  background-color: @nbfcolor;
}
/**** Link Syle ****/
.link{
  font-size:1.3rem;
}