* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  background-color: #E5E5E5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Kanit', sans-serif;
  font-weight: 600;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none !important;
}
body {
  font-family: 'Exo', sans-serif;
  color: #303030;
  font-size: 1.1rem;
}
#header .logo {
  align-self: center;
  padding: 1rem;
}
#header .logo img {
  width: 70%;
}
#header .heading {
  justify-self: center;
  align-self: center;
  padding: 1rem;
}
#header .icons {
  padding-right: 2rem;
  align-self: end;
  grid-area: icons;
}
#content #side-container {
  background-color: #FAFAFA;
}
#content #side-container .nav-active {
  color: #e33;
}
#content #side-container .nav-active i {
  color: #e33;
}
#content .tabsection {
  background-color: #FAFAFA;
  border-top: thin solid #dee2e6;
}
#content .search-icon-container {
  border-bottom: thin solid #dee2e6;
}
#content .search-icon-container .search-container {
  align-self: end;
  padding-bottom: 0.5rem;
}
#view-container {
  border-left: thin solid #dee2e6;
  padding: 1rem;
}
#footer {
  border-top: thin solid #dee2e6;
  background-color: #303030;
  color: #B5B5B5;
}
/*Custom Class*/
.bshadow {
  -webkit-box-shadow: 22px 21px 51px -34px #303030;
  -moz-box-shadow: 22px 21px 51px -34px #303030;
  box-shadow: 22px 21px 51px -34px #303030;
}
/***  Custom Text Colors  ***/
.primary {
  color: #031d44;
}
.secondary {
  color: #B5B5B5;
}
.success {
  color: #0d5d56;
}
.danger {
  color: #e33;
}
.warning {
  color: #FFD275;
}
.info {
  color: #9AD1D4;
}
.light {
  color: #B5B5B5;
}
.dark {
  color: #303030;
}
/***  Custom Buttton Color  ***/
.btn {
  font-weight: 600;
  font-size: 1.1rem;
}
.btn-primary {
  color: #fff;
  background-color: #031d44;
  border-color: #031d44;
}
.btn-secondary {
  color: #fff;
  background-color: #B5B5B5;
  border-color: #B5B5B5;
}
.btn-success {
  color: #fff;
  background-color: #0d5d56;
  border-color: #0d5d56;
}
.btn-danger {
  color: #fff;
  background-color: #e33;
  border-color: #e33;
}
.btn-warning {
  color: #303030;
  background-color: #FFD275;
  border-color: #FFD275;
}
.btn-info {
  color: #303030;
  background-color: #9AD1D4;
  border-color: #9AD1D4;
}
.btn-light {
  color: #303030;
  background-color: #B5B5B5;
  border-color: #B5B5B5;
}
.btn-dark {
  color: #fff;
  background-color: #303030;
  border-color: #303030;
}
.btn-link {
  font-weight: 400;
  color: #031d44;
  text-decoration: none;
}
/***  Custom Background Color  ***/
.bg-primary {
  background-color: #031d44;
}
.bg-secondary {
  background-color: #B5B5B5;
}
.bg-success {
  background-color: #0d5d56;
}
.bg-danger {
  background-color: #e33;
}
.bg-warning {
  background-color: #FFD275;
}
.bg-info {
  background-color: #9AD1D4;
}
.bg-light {
  background-color: #B5B5B5;
}
.bg-dark {
  background-color: #303030;
}
/**** Link Syle ****/
.link {
  font-size: 1.3rem;
}
